@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E2029;
  --secondary: #FFFFFF;
  --primary : #9a6aff;
  --grey : #e3e3e3;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
